@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.greetings{
    width: 80%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.actual-greetings{
    flex: 5;
    font-size: 22px;
    font-weight: 600;
}

.total-counts{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.count-container{
    width: 35px;
    height: 35px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
}


.dashboard-main{
    width: 100%;
    height: 22vh;
}

.dashboard-actual{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.dashboard-animate{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: -10;
}


.groceries-dashboard{
    width: 160px;
    height: 160px;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 0px 10px 30px -15px rgba(0, 0, 0, 1);
}

.groceries-dashboard:active{
    transform: scale(0.95);
}


.groceries-dashboard-animate{
    width: 160px;
    height: 160px;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 0px 10px 30px -15px rgba(0, 0, 0, 1);
    pointer-events: none;
}


.groceries-dashboard-upper{
    width: 100%;
    height: 110px;
    background: rgb(20,20,20);
    background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(40,40,40,1) 100%);
    padding: 15px;
}

.upper-content{
    font-size: 13px;
    color: white;
}

.grocery-count{
    color: red;
    font-size: 20px;
    font-weight: 700;
}


.lower-icon{
    margin-left: 10px;
}

.groceries-upper-heading{
    font-size: 20px;
    font-weight: 600;
    color: rgb(165,255,125);
}

.others-upper-heading{
    font-size: 20px;
    font-weight: 600;
    color: rgb(125,182,255);
}

.groceries-dashboard-lower{
    width: 100%;
    height: 50px;
    background: rgb(165,255,125);
    background: linear-gradient(90deg, rgba(165,255,125,1) 0%, rgba(219,252,164,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 15px;
}


.others-dashboard{
    width: 160px;
    height: 160px;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 0px 10px 30px -15px rgba(0, 0, 0, 1);
}

.others-dashboard:active{
    transform: scale(0.95);
}

.others-dashboard-animate{
    width: 160px;
    height: 160px;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 0px 10px 30px -15px rgba(0, 0, 0, 1);
    pointer-events: none;
}



.others-dashboard-upper{
    width: 100%;
    height: 110px;
    background: rgb(20,20,20);
    background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(40,40,40,1) 100%);
    padding: 15px;
}


.other-count{
    color: red;
    font-size: 20px;
    font-weight: 700;
}


.others-dashboard-lower{
    width: 100%;
    height: 50px;
    background: rgb(125,182,255);
    background: linear-gradient(90deg, rgba(125,182,255,1) 0%, rgba(164,240,252,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 15px;
}


/*Groceries*/

.lower{
    min-height: 68vh;
    min-width: 100%;
    display: flex;
    overflow-x: scroll;

}

.lower2{
    position: absolute;
    top:102vh;
    width: 100%;
    height: 68vh;
}


.grocery{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    height: 68vh;
}

.heading{
    height: 5vh;
    width: 90%;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
}

.groceries-list{
    width: 95%;
    padding: 10px;
    height: 62vh;
    background-color: #e0e0e0;
    border-radius: 40px;
    overflow-y: scroll;
    display: flex;
}

.no-items{
    width: 100%;
    height: 62vh;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.smiley-container{
    width: 60px;
    height: 60px;
    background-color: yellow;
}

.groceries-list-animate{
    position: absolute;
    top: 37vh;
    width: 95%;
    padding: 10px;
    height: 62vh;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    overflow-y: scroll;
    font-weight: 500;
    color: #666666;
    transform: scale(0.95);
    opacity: 0;
    z-index: -10;
}

.groceries-list::-webkit-scrollbar{
    display: none;
}

.groceries-content{
    width: 100%;
    height: 75px;
    border-radius: 40px;
    overflow: hidden;
    display: flex;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-color:rgb(133, 214, 99);;
}

.groceries-content:nth-last-child(1){
    margin-bottom: 0px;
}



.groceries-content-left{
    width: 100%;
    flex: 2;
    background: rgb(165,255,125);
    background: linear-gradient(90deg, rgba(165,255,125,1) 0%, rgba(219,252,164,1) 100%);
    height: 100%;
    display: flex;
    justify-content: center;
}

.groceries-content-left-left{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.groceries-icon{
    width: 50px;
    height: 50px;
    background-color: rgb(27, 27, 27);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 23px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
}

.groceries-content-left-right{
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.groceries-content-left-upper{
    font-size: 20px;
    font-weight: 600;
}

.groceries-content-left-lower{
    font-size: 13px;
    font-weight: 700;
    margin-top: 5px;
    color: rgb(56, 56, 56);
}

.groceries-content-right{
    flex: 0.53;
    background-color: rgb(53, 53, 53);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: rgb(247, 67, 67);
}







/***************/


.other{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    height: 68vh;
}


.others-list{
    width: 95%;
    padding: 10px;
    height: 62vh;
    background-color: #e0e0e0;
    border-radius: 40px;
    overflow-y: scroll;
}

#default{
    display: none;
}

.others-list::-webkit-scrollbar{
    display: none;
}

.others-content{
    width: 100%;
    height: 75px;
    border-radius: 40px;
    overflow: hidden;
    display: flex;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-color:rgb(87, 153, 252);
}

.others-content:nth-last-child(1){
    margin-bottom: 0px;
}



.others-content-left{
    width: 100%;
    flex: 2;
    background: rgb(125,182,255);
    background: linear-gradient(90deg, rgba(125,182,255,1) 0%, rgba(164,240,252,1) 100%);
    height: 100%;
    display: flex;
    justify-content: center;
}

.others-content-left-left{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.others-icon{
    width: 50px;
    height: 50px;
    background-color: rgb(27, 27, 27);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 23px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
}

.others-content-left-right{
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.others-content-left-upper{
    font-size: 20px;
    font-weight: 600;
}

.others-content-left-lower{
    font-size: 13px;
    font-weight: 700;
    margin-top: 5px;
    color: rgb(56, 56, 56);
}

.others-content-right{
    flex: 0.53;
    background-color: rgb(53, 53, 53);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: rgb(247, 67, 67);
}


/***********************Form*************/

/*------------Groceries Form-------------*/


.grocery-form{
    position: absolute;
    top: 102vh;
    width: 100%;
    height: 70vh;
    background-color: white;
    border-radius: 30px 30px 0px 0px;
    box-shadow: 0px -4px 20px 0px rgba(0,0,0,0.35);
}

.grocery-upper{
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 25px;
}

.grocery-heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;   
    font-weight: 600; 
}

.close-icon{
    position: absolute;
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.grocery-middle{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.grocery-important-form{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;   
}

input{
    width: 60%;
    height: 55px;
    border-radius: 40px;
    background-color: rgb(41, 41, 41);
    color: white;
    border: none;
    text-align: center;
    font-size: 17px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.7);
}

select{
        width: 60%;
        height: 55px;
        border-radius: 40px;
        background-color: rgb(41, 41, 41);
        color: white;
        border: none;
        text-align: center;
        font-size: 17px;
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.7);
}

.grocery-lower{
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

.grocery-add{
    width: 150px;
    height: 55px;
    background-color: #78ff47;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 18px;
    box-shadow: 0px 0px 15px 0px #78ff47;
    transition: 0.5s;
}

.grocery-add:active{
    transform: scale(0.95);
}

/*-----------------------------------*/

/*------------Others Form-------------*/


.other-form{
    position: absolute;
    top: 102vh;
    width: 100%;
    height: 70vh;
    background-color: white;
    border-radius: 30px 30px 0px 0px;
    box-shadow: 0px -4px 20px 0px rgba(0,0,0,0.35);
}

.other-upper{
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 25px;
}

.other-heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
    font-weight: 600;
}

.other-middle{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.other-important-form{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;   
}



.other-lower{
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

.other-add{
    width: 150px;
    height: 55px;
    background-color: #78ff47;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 18px;
    box-shadow: 0px 0px 15px 0px #78ff47;
    transition: 0.5s;
}

.other-add:active{
    transform: scale(0.95);
}

/*-----------------------------*/

.full-page-animate{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
}

.namaste-word{
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 25px;
    font-weight: 600;
}


